.productPage-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px; /* Adjust width */
  }
  
  .card {
    width: 350px;
    text-align: center;
  }
  
  .card-body {
    padding: 15px;
  }
  
  .card-body-description {
    margin-top: 20px;
    margin-left: 0;
    max-width: 600px;
    word-wrap: break-word; /* Ensure long text breaks into the next line */
    padding: 15px;
    background-color: #f9f9f9;
    font-size: 14px;
    margin-left: 100px;
  }
  
  .pacanele-mici {
    font-size: 14px;
    margin-top: 20px;
    color: #666;
  }
  
  .pricol-button {
    display: inline-block;
    padding: 10px 35px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #28a745;
    border: 2px solid #28a745;
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 20px;
    margin-left: 350px;
  }
  
  .pricol-button:hover {
    background-color: #ffffff;
    color: #28a745;
  }
  
  .btn-secondary {
    margin-top: 20px;
    margin-left: 150px;
    padding: 5px 35px;
  }
  