/* src/components/Header.css */
.top-header {
    background-color: #7d8fa1;
    padding: 30px 0;
    border-bottom: 1px solid #dee2e6;
}

.brand-search-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand .logo {
    height: 50px;
    margin-right: 10px;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-top: 80px;
}

.search-bar input {
    padding: 5px 10px;
    border: 1px solid #ced4da;
    border-radius: 4px 0 0 4px;
}

.search-bar button {
    padding: 5px 10px;
    border: 1px solid #ced4da;
    border-left: 0;
    background-color: #343a40;
    color: #ffffff;
    border-radius: 0 4px 4px 0;
}

.contact-info {
    text-align: right;
}

.contact-info p {
    margin: 0;
}

.custom-navbar {
    background-color: #d6dadf;
}

.custom-navbar .navbar-nav .nav-link {
    color: #ffffff;
    font-size: 16px;
    margin-right: 1px;
}

.custom-navbar .navbar-nav .nav-link:hover {
    color: #cccccc;
}

.basic-navbar-nav{
    color: #cccfd3;
}
.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1); /* Adjust the border color as needed */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.logo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 2px solid #000; 
}
.navbar-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Ensure items don't overlap and wrap correctly */
    width: 100%; /* Make sure the nav takes full width */
}

.nav-link {
    padding: 10px 15px; /* Adjust spacing around each link */
    color: #ffffff;
    font-size: 16px;
    margin-right: 5px; /* Adjust space between links */
}

.nav-link:hover {
    color: #cccccc;
}

.custom-navbar {
    background-color: #d6dadf;
    padding: 10px 0; /* Adjust the padding of the navbar */
}
.cart-item-description {
    display: block;
    white-space: normal; /* Allow text to wrap normally */
    margin-top: 10px;
    margin-bottom: 10px;
    word-wrap: break-word; /* Break words if necessary to wrap text */
    width: 100%; /* Ensure the description takes up full width */
    overflow: hidden; /* Hide any overflow */
    text-overflow: ellipsis; /* Add ellipsis for overflowing text */
    line-height: 1.5; /* Increase line height for better readability */
}

.Dropdown.Item {
    display: flex;
    flex-direction: column;
    width: 100%; 
}
